{% extends 'base_auth.html' %}
{% load static %}
{{% block content %}

{% comment %} <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">

        <div class="card mt-5">

            <div class="card-body">
                <div class ="card-title">
                    <h4>Register for a free account</h4>
                </div>

                <form action="" method="post">
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="username" 
                            placeholder="username" 
                            id="usernameField" 
                            class="form-control form-control-sm"
                        />
                    </div>
                    <div class="invalid_feedback invalid-feedback" style="display:none">
                    </div>
                    
                    <div class="form-group">
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email" 
                            id="emailField" 
                            class="form-control form-control-sm"
                        />
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Password" 
                            id="passwordField" 
                            class="form-control form-control-sm"
                        />
                        <small class="float-right py-3">SHOW</small>
                    </div>
                    <input type="submit" value="Register" class="btn btn-block btn-primary">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div> {% endcomment %}

<div class="mask d-flex align-items-center h-20 gradient-custom-3">
<div class="container h-20">
    <div class="row d-flex justify-content-center align-items-center h-20">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-4">Create an account</h2>

            <form action="{% url 'register' %}" method = "post">
            
                {% csrf_token %}

                {% include 'partials/_messages.html' %}
            <div class="form-outline mb-4">
                <input type="text" id="usernameField" class="form-control form-control-sm" name="username" placeholder="username"/>
            </div>
            <div class="invalid_feedback invalid-feedback" style="display:none">
            </div>
            <p class="text-sm text-success usernameSuccessOutput"></p>

            <div class="form-outline mb-4">
                <input type="email" id="emailField" class="form-control form-control-sm" name="email" placeholder="Email"/>
            </div>
            <div class="emailFeedBackArea invalid-feedback" style="display:none">
            </div>

            <div class="form-outline mb-4 position-relative">
                <input type="password" id="passwordField" class="form-control form-control-sm" name="password" placeholder="password" inputmode="none"/>
                <span class="showPasswordToggle">
                    <i class="bi bi-eye-slash"></i>
                </span>
            </div>

            <div class="form-outline mb-4 position-relative">
                <input type="password" id="repeatPasswordField" class="form-control form-control-sm" name="repeat_password" placeholder="repeat password" inputmode="none"/>
                <span class="showPasswordToggleRepeat">
                    <i class="bi bi-eye-slash"></i>
                </span>
            </div>

            <div class="form-check d-flex justify-content-center mb-3">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">
                I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit"
                class="btn btn-success btn-block btn-sm ">Register</button>
            </div>

            <p class="text-center text-muted mt-3 mb-0">Have already an account? <a href="#!"
                class="fw-bold text-body"><u>Login here</u></a></p>

            </form>

        </div>
        </div>
    </div>
    </div>
</div>
</div>

<script src='{% static 'js/register.js' %}'></script>
{% endblock content %}}