{% extends 'base_auth.html' %}

{{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-5">
    <div class="card mt-5">
      
      <div class="card-body">
        <div class"card-title py-3">
            <h4>Please enter your email to get the reset link</h4>
        </div>
      
        <form action="{% url 'request-password' %}" method="post">
            {% csrf_token %}

            {% include 'partials/_messages.html' %}
            <div class="form-group">
              <input 
                  type="email" 
                  name="email" 
                  placeholder="Email" 
                  id="emailField" 
                  class="form-control form-control-sm"
                  value="{{ values.email }}"
              />
            </div>

            <input type="submit" value="Submit" class="btn btn-block btn-primary">
        </form>

        <a href="{% url 'register' %}" class="text-center mb-4">Don't have an account? Register</a><br>
        <a href="{% url 'login' %}" class="text-center mb-4">Already have an account? Login</a>

      </div>
    </div>
  </div>    
</div>

{% endblock content %}}